* {
	box-sizing: border-box;
}
html {
	font-size: 18px;
}
html, body {
  height: 100%;
}
body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.42;
	color: #333333;
  // font-family: "latoregular";
}
ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: normal;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; 
}

.clearfix:after {
  clear: both;
}
.wrapper { // для прижатия footer
	flex: 1 0 auto;
	position: relative;
}
.container {
	max-width: 1140px;
	width: auto;
	margin: 0 auto;
	padding: 0 20px;
}
.footer {
  flex-shrink: 0;
}
img {
	max-width: 100%;
	width: auto;
	height: auto;
}
a {
	transition: 0.3s ease-out 0.1s;
}
a:hover {

}

p {
	margin: 0;
}
li.active a {

}
h2 {
	font-size: 2rem;
}

.no-pd {
	padding: 0;
}








