.about {
	padding-top: 100px;
}
.title-wrap {
	text-align: center;
}
.title {
	font-size: 30px;
	font-weight: bold;
	color: #333;
	padding-bottom: 40px;
}
.sub_title {
	font-size: 25px;
	font-weight: bold;
}
.content {
	width: 700px;
	margin: 0 auto;
	 p {
		font-size: 18px;
		color: #333;
		margin-bottom: 25px;
	}
}
.features_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin-bottom: 70px;
}
.features__pic {
	width: 32%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 20px;
		h4 {
			font-size: 20px;
			font-weight: bold;
			margin-bottom: 20px;
		}
}
.svg-ico {
	width: 54px;
	height: 54px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
	.features_list {
		flex-wrap: wrap;
		width: 100%;
	}
	.features__pic {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	.content {
		width: 100%;
	}
}
