.service-wrap {
	margin-bottom: 30px;
}
.service {
	display: flex;
	justify-content: space-between;
}
.service__item  {
	width: 45%;
	padding: 20px;
	font-size: 18px;
	h4 {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	span {
		font-size: 20px;
		font-weight: normal;
		margin-bottom: 30px;
	}
}
.service__pic {
	width: 45%;
	padding: 20px;
}
@media screen and (max-width: 768px) and (min-width: 320px) {
	.service {
		flex-wrap: wrap;
	}
	.service__item {
		width: 100%;
	}
	.service__pic {
		width: 100%
	}
	.service-wrap {
		margin-bottom: 0;
	}
}
